/* 版心 */
.wrapper{
    width: 1240px;
    margin: 0 auto;
}

/* 快捷导航 */
.shortcut{
    height: 52px;
    background-color: #333;
}

.shortcut .wrapper{
    /* background-color: pink; */
    height: 52px;
}

.shortcut .wrapper ul{
    float:right;
}

.shortcut .wrapper li{
    float: left;
    line-height: 52px;
}

.shortcut .wrapper a{
    padding: 0 16px;
    border-right: 1px solid #666;
    font-size: 14px;
    color: #dcdcdc;;
}

.shortcut .wrapper span{
    /* span是行内模式，是无法有宽高的 */
    display: inline-block;
    margin-right: 8px;;
    width: 11px;
    height: 16px;
    background-image:url(../images/sprites.png) ;
    background-position: -160px -70px ;
    vertical-align: middle;

}


/* 头部 */
.header{
    margin: 30px auto;
    height: 70px;
}

.logo{
    float: left;
    height: 70px;
    width: 207px;
}

/* 优化搜索引擎的方法 */
.logo h1{
    height: 70px;
    width: 207px;
}
/* height和width不写也可以，继承 */

.logo h1 a{
    display: block;
    width: 207px;
    height: 70px;
    background-image: url(../images/logo.png);
    background-size: contain;
    font-size: 0px;
}

.nav{
    float:left;
    margin-left: 40px;
    height: 70px;
}

.nav li{
    float: left; 
    margin-right: 48px;
    line-height: 70px;
}

.nav li a{
    padding-bottom: 7px;
}

.nav li a:hover{
    color: green;
    border-bottom: 1px solid #27ba9b;
}

.search{
    float:left;
    position: relative;
    margin-left: 34px;
    margin-top: 24px;
    width: 172px;
    height: 30px;
    border-bottom: 1px solid #e7e7e7;
}

.search input{
    padding-left: 30px;
    width: 172px;
    height: 28px;
}

.search input::placeholder{
    font-size: 14px;
    width: 172px;
    height: 28px;
}

.search span{
    display: inline-block;
    position: absolute;
    left:2px;
    top:0;
    width: 18px;
    height: 18px;
    background-image: url(../images/sprites.png);
    background-position: -79px -69px;
}

.car{
    position: relative;
    float: left;
    margin-left :15px;
    margin-top: 28px; 
    width: 23px;
    height: 23px;
    background-image: url(../images/sprites.png);
    background-position: -119px -69px;
}

.car span{
    position: absolute;
    right: -13px;
    top: -6px;
    display: inline block;
    width: 20px;
    height: 15px;
    background-color: #e26237;
    border-radius: 8px;
    font-size: 13px;
    color: #fff;
    text-align: center;

}


/* 版权footer */
.footer{
    height: 342px;
    background-color: #333;
}

.footer .wrapper{
    width: 1393px;
}

.footer .top{
    padding-left: 135px;
    padding-top: 59px;
    height: 175px;
    border-bottom: 3px solid #434343;
}

.footer .top li{
    position: relative;
    float:left;
    margin-right: 300px;
    height: 58px;
    width: 195px;
    line-height: 58px;
}

.footer .top li:last-child{
    margin-right: 0;
}

/* 伪元素添加标签 */
.footer .top li::before{
    position: absolute;
    /* display: inline-block; */
    left:0;
    top: 0;
    content: '';
    width: 58px;
    height: 58px;
    background-image: url(../images/sprites.png);
    vertical-align: middle;
}

.footer .top li span{
    margin-left: 77px;
    font-size: 28px;
    color: #fff;
}

.footer .top li:nth-child(2)::before{
    background-position: -65px 0;
}

.footer .top li:last-child::before{
    background-position: -130px 0;
}

.footer .bottom{
    margin-top: 40px;
    font-size: 14px;
    color:#999 ;
    text-align: center;
}

.footer .bottom a{
    font-size: 14px;
    color:#999 ;
}

.footer .bottom p{
    margin-bottom: 30px;
}